<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reponse</title>


    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script src="js.js" type="text/javascript"></script>


</head>
<body>




<div id="main_responce" class="container">
    <div class="row">
        <div class="col-md-offset-3">
            <div id="sign13" style="display: none">
                <blockquote class="blockquote bq-primary">
                    <p class="bq-title"><strong>Immobiliser ou empècher de bouger</strong></p>
                    <p class="blockquote" style="font-size : 17px"><strong>Membre inférieur :</strong> caler le membre avec des vètements, couverture, coussin
                        dans la position où il se trouve</p>
                </blockquote>


                <blockquote class="blockquote bq-primary">
                    <p class="bq-title"><strong>Immobiliser ou empècher de bouger</strong></p>
                    <p class="blockquote" style="font-size : 17px"><strong>Membre supérieur :</strong> caler à l'aide des vètements, triangle de toile</p>
                </blockquote>

                <br>
                <blockquote class="blockquote bq-danger">
                    <p class="bq-title"><strong>En cas de fracture ouverte recouvrir la plaie avec des compresses stériles</strong></p>
                </blockquote>

                <br>

                <blockquote class="blockquote bq-danger col-md-offset-1">
                    <p class="bq-title"><strong>Secours</strong></p>

                    <p class="blockquote" style="font-size : 17px"><strong>Alerter les secours : </strong>pour réaliser une radiographie</p>
                </blockquote>

                <blockquote class="blockquote bq-warning col-md-offset-1">
                    <p class="bq-title"><strong>Surveillance</strong></p>

                    <p class="blockquote" style="font-size : 17px">Surveiller l’enfant en attendant</p>
                </blockquote>


            </div>

            <div id="sign4" style="display: none">



                <blockquote class="blockquote bq-warning">
                    <p class="bq-title"><strong>Attention</strong></p>
                    <p class="blockquote" style="font-size : 17px"><strong>Ne jamais </strong>essayer de <strong>remettre</strong> en place l'articulation luxée, car on peut provoquer des lésions irréversibles.</p>
                </blockquote>


                <blockquote class="blockquote bq-primary">
                    <p class="bq-title"><strong>Immobilisation </strong></p>
                    <p class="blockquote" style="font-size : 17px"><strong>Immobiliser </strong>l'articulation dans la position où elle se trouve</p>
                </blockquote>

                <br>


                <blockquote class="blockquote bq-danger ">
                    <p class="bq-title"><strong>Secours</strong></p>

                    <p class="blockquote" style="font-size : 17px"><strong>Alerter les secours : </strong>pour réaliser une radiographie</p>
                </blockquote>

                <blockquote class="blockquote bq-warning ">
                    <p class="bq-title"><strong>Surveillance</strong></p>

                    <p class="blockquote" style="font-size : 17px">Surveiller l’enfant en attendant</p>
                </blockquote>




            </div>
            <div id="sign058" style="display: none">



                <blockquote class="blockquote bq-warning">
                    <p class="bq-title"><strong>Attention</strong></p>
                    <p class="blockquote" style="font-size : 17px"><strong>Maintenez</strong> le blessé immobile et, aussi rapidement que possible, tenez sa tête en posant vos mains à plat de chaque côté. Grâce à ce maintien on évite tout mouvement de la colonne. De plus, la rectitude de l'axe tête-cou-tronc droit est ainsi conservée
                    </p>
                </blockquote>


                            <br>



                <blockquote class="blockquote bq-warning ">
                    <p class="bq-title"><strong>Surveillance</strong></p>

                    <p class="blockquote" style="font-size : 17px">Surveillez l’enfant jusqu'à l'arrivée des secours et prêtez attention à d'éventuels signes</p>
                </blockquote>



                <blockquote class="blockquote bq-danger ">
                    <p class="bq-title"><strong>Situation délicate</strong></p>

                    <p class="blockquote" style="font-size : 17px"><strong>En cas d'inconscience,</strong> positionnez prudemment la victime en position latérale de sécurité, malgré le risque de traumatisme liée à cette situation délicate.</p>
                </blockquote>



            </div>


            <div id="sign0913" style="display: none">
                <blockquote class="blockquote bq-warning">
                    <p class="bq-title"><strong>Allongez la Victime</strong></p>
                    <p class="blockquote" style="font-size : 17px"><strong>Mettre </strong>la victime au repos en position allongée
                    </p>
                </blockquote>


                <br>


                <blockquote class="blockquote bq-danger ">
                    <p class="bq-title"><strong>Secours</strong></p>

                    <p class="blockquote" style="font-size : 17px"><strong>Alerter les secours </strong>en attendant</p>
                </blockquote>

                <br>

                <blockquote class="blockquote bq-warning ">
                    <p class="bq-title"><strong>Surveillance</strong></p>

                    <p class="blockquote" style="font-size : 17px">surveiller la conscience ; si la victime devient inconsciente, la mettre en position latérale de sécurité à condition que la respiration reste efficace</p>
                </blockquote>



            </div>

        </div>

    </div>
</div>

<script>
    function category(age,gender) {
        var text=""
        if(age<18){
            text="enfant";
        }
        if(age>60&& gender==="male"){
            text="vieu"
        }else if(age>60&& gender==="female"){
            text='vielle';
        }
        if(age>=18 && age<60 && gender=="male"){
            text="homme";
        }
        else if(age>=18 && age<60 && gender=="female"){
            text="femme";
        }

    }

    $( document ).ready(function() {
        console.log(localStorage.getItem("age"))
        let navBar=""
            +"<div id='nav_c' class='container'>"
                +"<div id='navbar' class='row' >"
                    +"<ul class='men'>"
                        +"<center>"
                            +"<li class='navComponent'><a href='index.html'>Home</a></li>"
                            +"<li class='navComponent'><a href='chutes.html'>Chutes</a></li>"
                            +"<li class='navComponent'><a href=''>Theme</a></li>"
                            +"<li class='navComponent'><a href=''>About</a></li>"
                            +"<li class='navComponent'><a href=''>Contact us</a></li>"
                        +"</center>"
                    +"</ul>"
                +"</div>"
            +"</div>"
        $("body").prepend(navBar)

      var todo=localStorage.getItem('toDo').split(',');
      todo.forEach(function (e) {
          $("#"+e).show(800)

      })
    })

</script>

</body>
</html>