<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signes</title>

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script src="js.js" type="text/javascript"></script>


</head>
<body>

    <div id="main_signes" class="container">
        <div style="display:none;" id="myDiv" class="animate-bottom">
            <h2>Le résultat du diagnostique</h2>

        </div>


        <br>

        <div class="row">
            <div class="col-md-offset-3">
                <div id="sign14" style="display: none">
                    <blockquote class="blockquote bq-warning">
                        <p class="bq-title">Traumastisme du membre (inf ou sup)</p>
                        <h4>Fracture non déplacée</h4>
                    </blockquote>


                    <blockquote class="blockquote bq-warning">
                        <p class="bq-title">Traumastisme du membre (inf ou sup)</p>
                        <h4>Fracture déplacée</h4>
                    </blockquote>

                    <blockquote class="blockquote bq-warning">
                        <p class="bq-title">Traumastisme du membre (inf ou sup)</p>
                        <h4>Entorse</h4>
                    </blockquote>

                    <blockquote class="blockquote bq-warning">
                        <p class="bq-title">Traumastisme du membre (inf ou sup)</p>
                        <h4>Luxation</h4>
                    </blockquote>
                </div>

                <div id="sign58" style="display: none">
                    <blockquote class="blockquote bq-danger">
                        <p class="bq-title">Attention</p>
                        <h4>Fracture vertébrale</h4>
                    </blockquote>
                </div>
                <div id="sign913" style="display: none">
                    <blockquote class="blockquote bq-danger">
                        <p class="bq-title">Attention</p>
                        <h4>Traumastisme crànien</h4>
                    </blockquote>
                </div>

                <div id="safe" style="display: none">
                    <blockquote class="blockquote bq-success">
                        <p class="bq-title">Aucune crainte</p>
                        <h4>Vous n'avez rien</h4>
                    </blockquote>
                </div>


            </div>

        </div>

        <div class="row">

        <br>
            <div class="col-md-offset-5 ">
                <button type="submit" class="btn btn-success col-md-4" onclick="result()" id="secours" style="display: none">Que dois-je faire ?</button>
            </div>


        </div>
    </div>

<script>
    var toDo=[]
    function result() {
        var result=localStorage.getItem("list").split(",");

        result.forEach(function (e) {
            switchResponse(e)
        })

        localStorage.setItem('toDo',toDo)
        location.href='reponse.html'
    }
    function switchResponse(element) {

        switch (element){
            case "checkbox1" :
            case "checkbox2" :
            case "checkbox3" :{
                if(toDo.indexOf('sign13')==-1){
                    toDo.push('sign13')
                }

                break;
            }
            case "checkbox4" :
            {

                if(toDo.indexOf('sign4')==-1){
                    toDo.push('sign4')
                }
                break;
            }
            case "checkbox5":
            case "checkbox6":
            case "checkbox7":
            case "checkbox8":
            {
                if(toDo.indexOf('sign058')==-1){
                    toDo.push('sign058')
                }

                break;
            }
            case "checkbox9":
            case "checkbox10":
            case "checkbox11":
            case "checkbox12":
            case "checkbox13":
            {
                if(toDo.indexOf('sign0913')==-1){
                    toDo.push('sign0913')
                }
                break;
            }
        }
    }



    $( document ).ready(function() {


        

        let navBar=""
            +"<div id='nav_c' class='container'>"
                +"<div id='navbar' class='row' >"
                    +"<ul class='men'>"
                        +"<center>"
                            +"<li class='navComponent'><a href='index.html'>Home</a></li>"
                            +"<li class='navComponent'><a href='chutes.html'>Chutes</a></li>"
                            +"<li class='navComponent'><a href=''>Theme</a></li>"
                            +"<li class='navComponent'><a href=''>About</a></li>"
                            +"<li class='navComponent'><a href=''>Contact us</a></li>"
                        +"</center>"
                    +"</ul>"
                +"</div>"
            +"</div>"
        $("body").prepend(navBar)


        $('#myDiv').show();

        var sign=localStorage.getItem("SIGN").split(",");
        console.log(sign)
        if(sign.indexOf("Luxation")!=-1){
            $('#sign14').show();

        }
        if(sign.indexOf("Fracture vertébrale")!=-1){
            $('#sign58').show();

        }
        if(sign.indexOf("Traumatisme cranien")!=-1){
            $('#sign913').show();

        }
        if(sign[0]!==""){
            $('#secours').show();

        }else{
            $('#safe').show();

        }

    });
</script>




</body>
</html>